@import url("file:///D:/Users/COBA/Desktop/Advanace%20Databse/Login.html");
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Possins", sans-serif;

}

 .Image-Container
 {
   position:fixed;
   top:10px;
   left: 10px;
   z-index: 1000;


 }
 .Image-Container img 
 {
     max-width: 140px;
     height: auto;
 




 }



 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image:url('./moon-1859616_640.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
 
}


.wrapper{

    width: 420px;
    background:transparent;
    border:2px solid rgba(255,255,255,0.2);
    color:#efff;
    border-radius: 10px;
    padding:30px 40px;
    


}
.wrapper h1{
    font-size: 36px;
    text-align: center;


}



.wrapper .input-box
{
    position: relative;

    width: 100%;
    height: 50px;

    margin: 30px 0;


}
.input-box input

{
    width: 100%;
    height: 100%;
    background: transparent;
    border:none;
    outline:none;
    border:2px solid rgba(255,255,255,0.2);
    border-radius: 40px;
    font-size: 16px;
    color:#fff;
    padding:20px 45px 20px 20px;

}
.input-box input::placeholder

{
    color:#fff;
    
    

}

.input-box i

{

    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;

}


.wrapper .btn
{

 
    width:100%;
    height: 45px;
    background:#fff;
    border:none;
    outline: none;
    border-radius:40px;
    box-shadow: 0 0 10px rgb(253, 253, 253);
    cursor: pointer;
    font-size:16px;
    font-family: poppins;
    color:#333;
    font-weight: 600;
    background: transparent;
    color:#fff;


 

 
}
.btn:hover

{
    box-shadow: 0 5px 50px 0 #efff inset,0 5px 50px 0 #efff;




}



i{


    cursor: pointer;
}

span{
    cursor: pointer;
    color: white;
}